*{
  transition: all 0.5s ;
}
body {
  /*min-width: 500px; 마지막에 하기 */
  word-wrap:  break-word;
  color: #24292e;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;

}
header {
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  background-color: #24292e;
}
.header_container{
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}
.header_left>span{
  color: white;
}
